h1
{
    font-family: 'Times New Roman', Times, serif;
    font-size: 100px;
    background-color: aqua;
    color: blueviolet;
    text-align: center;
}

body
{
    margin-left: 5%;
    margin-right: 5%;
}